{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/course/css/detail.css">
{% endblock %}

{% block content %}
    {#  整个页面   #}
    <div>

        <div class="col-xs-12">
            {#  课程封面   #}
            <div class="col-xs-7">
                <img src="{{ course.0.cover }}">
            </div>
            {#  课程信息   #}
            <div>
                <div>
                    <div style="font-size: 20px;">{{ course.0.title }}</div>
                    <div>{{ course.0.summary }}</div>
                    <div><span>{{ course.0.tags.title }}</span></div>
                    <div>主讲老师：<b>{{ course.0.teachers.name }}</b></div>
                    <div>点赞人数：{{ course.0.favor }}</div>
                </div>
                <div>价格：
                    <span>￥{{ course.0.price }}</span>
                </div>
                <div>
                    <span>立即购买</span>
                    <span>
                    {% if course.0.tags_id == 1 %}
                        免费试看
                    {% else %}
                        免费试听
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            {#  课程介绍   #}
            <div class="col-xs-7">
                <div>
                    课程介绍
                </div>
                <div>
                    <img width="600px" src="{{ course.0.detail }}">
                </div>
            </div>

            <div class="col-xs-5">
                {#  主讲教师介绍   #}
                <div class="col-xs-5">
                    <div>
                        <img src="{{ teacher.0.image }}">
                    </div>
                    <div>
                        <div>{{ teacher.0.name }}</div>
                    </div>
                    <div>
                        <div style="width: 300px">{{ teacher.0.intro }}</div>
                    </div>
                </div>

                {#  排行榜   #}
                <div class="col-xs-7">

                </div>

            </div>
        </div>

    </div>

{% endblock %}