{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/course/css/course.css">
{% endblock %}
{% block video %}
    <div id="courseinfo" class="row">
        <!--分两栏(左：详情， 右：周排行)-->
        <div class="col-xs-7">
            <div class="info">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="/static/images/{{ course.cover }}"
                             width="120" height="145"
                             style="margin: 10px auto;">

                    </div>
                    <div class="col-xs-8">
                        <div>
                            <h3 class="text-left" style="display: inline-block">{{ course.title }}</h3>
                            <span class="text-right" style="margin-left: 10px;">{{ course.teacher }}</span>
                        </div>
                        <ul class="tag_cates">
                            {% for tag in course.tags.all %}
                                <li class="tag">
                                    <span>{{ tag.title }}</span>
                                </li>
                            {% endfor %}
                            <li class="cate">
                                <span>{{ course.category.parent.title }}</span>
                            </li>

                            <li class="cate">
                                <span>{{ course.category.title }}</span>
                            </li>

                        </ul>
                        <div style="padding: 2px">
                            <span>{{ course.coure_sum }}</span>
                        </div>
                        <div>
                            <a class="btn btn-danger">立即购买</a>
                            <a class="btn btn-info">免费试看</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
{#        <div class="col-xs-5">#}
{#            <div class="rank">#}
{#                <h3>周排行</h3>#}
{#                <ul>#}
{#                    {% for rank_book in rank_books %}#}
{#                    <li>#}
{#                        <span class="no {% if forloop.counter <= 3 %} no {{ forloop.counter }}{% endif %}">1</span>#}
{#                        <span>大明武夫</span>#}
{#                        <span>10000</span>#}
{#                    </li>#}
{##}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{##}
{#        </div>#}

    </div>
{% endblock %}