{% extends 'base.html' %}

{% block content %}

    <table>
        <tr>
            <th>课程名</th>
            <th>课程描述</th>
            <th>课程价格</th>
            <th>课程老师</th>
            <th>操作</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.title }}</td>
                <td>{{ course.summary }}</td>
                <td>{{ course.price }}</td>
                <td>{{ course.teachers.name }}</td>
                <td><a href="/user/delete/{{ course.id }}/">删除</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}